.layout {
    position: absolute;
    justify-content: center;
    align-items: end;
    gap: 1rem;
    width: 100vw;
    z-index: 1000;
}

.slider-box {
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
