.custom-popup {
    border: none !important;
    margin-bottom: 45px;
}

.custom-popup > .leaflet-popup-content-wrapper {
    border: none !important;
    padding: 0 0 1px 0;
}

.custom-popup > div > .leaflet-popup-content {
    border: none !important;
    margin: 0 !important;
    min-width: 250px;
}

.image-container {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    min-width: 250px;
    height: 300px;
    object-fit: cover;
    background-color: #c4c4c5;
}

.image-placeholder {
    background-color: #c4c4c5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-location-info-container {
    padding: 10px 15px;
}
